.customers {
    background-color: $colorBgFirst;
}

.customers__title {
    @extend %title;
}

.customers__list {
    @extend %list;
    @include centeredFlex();

    flex-wrap: wrap;

    margin: -15px;
}

.customers__item {
    padding: 16px 0;

    border: 1px solid $colorCustomersLinks;
    border-radius: 4px;

    flex-basis: calc((100% - 2 * 30px) / 2);
    
    margin: 15px;

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 6 * 30px) / 6);
    }
    
    
    &:active,
    &:hover {
        border: 1px solid $colorTextActive;
        cursor: pointer;
    }

    &:active .customers__link,
    &:hover .customers__link{
        color: $colorTextActive;
    }
}

.customers__link {
    @extend %link;

    color: $colorCustomersLinks;
    transition: color 250ms ease;

    display: block;
}

.icon-group-1,
.icon-group-2,
.icon-group-3,
.icon-group-4,
.icon-group-5,
.icon-group-6 {
    display: block;

    fill: currentColor;

    margin: 0 auto;
}