// Background-color

$colorBgFirst: #FFFFFF;
$colorBgSecond: #F5F4FA;
$colorBgThird: #2F303A;

// Text-color

$colorTextFirst: #757575;
$colorTextSecond: #212121;
$colorTextThird: #FFFFFF;
$colorTextActive: #2196F3;

// Logo-color

$colorLogoFirst: #2196F3;
$colorLogoSecond: #000000;
$colorLogoThird: #FFFFFF;

// Decor-color

$colorHeaderBorder: #ECECEC;

$colorButton: #2196F3;
$colorButtonActive: #188CE8;

$colorSocialLinks: #AFB1B8;
$colorCustomersLinks: #AFB1B8;
